// | Functions  |
// =============================================

// Utils
@function strip-units($value) {
    @return $value / ($value * 0 + 1);
}

// Calculate rems from a px value
@function rem-calc($px, $base-val: $base-px-default) {
    @if not unitless($px) {
        $px: strip-units($px);
    }
    @if not unitless($base-val) {
        $base-val: strip-units($base-val);
    }
    @return ($px / $base-val) * 1rem;
}

// Calculate ems from a px value
@function em-calc($px, $base-val: $base-px-default) {
    @if not unitless($px) {
        $px: strip-units($px);
    }
    @if not unitless($base-val) {
        $base-val: strip-units($base-val);
    }
    @return ($px / $base-val) * 1em;
}

// Themed
@function themed($key) {
    @return map-get($theme-map, $key);
}
