//
// Mixins
// ==================================================
@mixin font-family-open-sans($weight:400) { // valori disponibili 400,600,700
    font-family: $base-font-family;
    font-weight: $weight;
}


// font size
@mixin font-size($size) {
    font-size: $size;
    font-size: rem-calc($size);
}

// center vertical/horizontal
@mixin center($xy: xy, $position: absolute) {

    position: $position;

    @if $xy == xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
    }
    @else if $xy == x {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
}



@mixin themify($themes: $themes, $prefix: $prefix) {
    @each $theme, $map in $themes {

        &.#{$prefix}--#{$theme} {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }

    }
}

