//
// Themes
// ==================================================
$themes: (
        lmn: (
                brandPrimary: #ec008c,
                brandSecondary: #5798d4,
                brandTertiary: #ec008c,
                brandTsh: #ec008c,
                brandCta: #ec008c,
                grayBase: #080808,
                grayDarker: #3c3c3c,
                grayDark: #808080,
                gray: #cfcfcf,
                grayLight: #e3e3e3,
                grayLighter: #e9ebee,
                textColorBase: #3c3c3c,
                textColorDark: #080808,
                textColor: #3c3c3c,
                textColorLight: #808080
        ),
        crs: (
                brandPrimary: #01367d,
                brandSecondary: #00afe3,
                brandTertiary: #00afe3,
                brandTsh: #ec008c,
                brandCta: #ff4800,
                grayBase: #080808,
                grayDarker: #3c3c3c,
                grayDark: #808080,
                gray: #cfcfcf,
                grayLight: #e3e3e3,
                grayLighter: #e9ebee,
                textColorBase: #3c3c3c,
                textColorDark: #080808,
                textColor: #3c3c3c,
                textColorLight: #808080
        )
);