$base-font-size: 14px !default;
$base-line-height: 24px !default;
$line-height-ratio: $base-line-height / $base-font-size;
$base-px-default: 10px !default;

$base-font-family: 'Open Sans', Helvetica Nue, Arial, sans-serif;

//
// Colors
// ==================================================
$color-white: #FFF !default;
$color-gray-light: #F9F9F9 !default;
$color-gray: #E2E7EA !default;
$color-gray-dark: #9BA6B0 !default;
$color-black: #000 !default;

$color-info: #4F73B9 !default;
$color-danger: #CA0909 !default;
$color-warning: #ffc107 !default;
$color-success: #4CB611 !default;

// body
$bg-body: $color-gray-light;

//
// Layout
// ==================================================
$base-grid: 8px;

//
// Buttons
// ==================================================
$button-sm: 32px;
$button-md: 40px;
$button-lg: 48px;


