//
// Button
// ==================================================
.lm_button {
    display: block;
    min-width: 180px;
    margin: $base-grid;

    font-size: $base-font-size;
    line-height: 1;
    text-decoration: none;

    border: none;
    border-radius: 3px;
    box-sizing: border-box;

    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;

    &:disabled {
        color: darken($color-gray, 15%);
        background-color: $color-gray;

        &:hover {
            color: darken($color-gray, 15%);
            background-color: $color-gray;
        }
    }

    @include themify($themes, 'lm_button') {
        background-color: themed(brandCta);
        color: $color-white;

        &:disabled {
            color: darken($color-gray, 15%);
            background-color: $color-gray;

            &:hover {
                color: darken($color-gray, 15%);
                background-color: $color-gray;
            }
        }
    }

    &.lm_button--small {
        height: $button-sm;
        padding: ($base-grid/2) ($base-grid);
        line-height: 1.5;
    }
    &.lm_button--medium {
        height: $button-md;
        padding: ($base-grid) ($base-grid*2);
    }
    &.lm_button--large {
        height: $button-lg;
        line-height: 1.333;
        font-size: $base-font-size + 2;
    }


}