@import "./assets/scss/base/reset";

html {
    font-size: 62.5%;

    > body {
        background-color: $bg-body;
        color: #000;
        @include font-size($base-font-size);
        @include font-family-open-sans(400);
        line-height: $base-line-height;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}